<!-- investors -->
<section class="investors">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="supported-catalog-ads">
					<%= image_tag 'supported.jpg', alt: 'Gambar', class: 'img-responsive' %>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- share social icon -->
<section class="email-social">
	<div class="container">
		<div class="row">
			<div class="share-email-social">
				<div class="col-md-3 col-xs-3">
					<div class="padding-txt-6">Undang teman untuk bergabung</div>
				</div>
				<div class="col-md-3">
					<input type="text" name="" class="form-control">
				</div>
				<div class="col-xs-1">
					<div class="btn-sent-footer">
						<button class="btn btn-info btn-sm">Kirim</button>
					</div>
				</div>
				<div class="col-md-2">
					<div class="padding-txt-6">atau share ke</div>
				</div>
				<div class="col-md-2">
					<a href=""><button class="btn btn-facebook">
						<span class="fa fa-facebook"></span>
					</button>
				</a>
				<a href="">
					<button class="btn btn-twitter">
						<span class="fa fa-twitter"></span>
					</button>
				</a>
				<a href="">
					<button class="btn btn-google">
						<span class="fa fa-google-plus-square"></span>
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
</section>