<!-- footer -->
<section class="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="footer-bottom-design">
				<div class="col-xs-12 col-sm-3">
					<div class="text-list-footer">ABOUT US</div>
					<div class="br10"></div>
					<ul>
						<li>
							SukabumiProperty merupakan portal situs jual beli property bekas dan baru di Kota dan Kabupaten Sukabumi. jual property anda di SukabuProperty.com
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3">
					<div class="text-list-footer">BELI PROPERTY</div>
					<div class="br10"></div>
					<ul>
						<li>Property baru untuk dijual</li>
						<li>Bagaimana Cara Membeli Property?</li>
						<li>Penawaran Khusus</li>
						<li>Mobil Bekas Yang Dijual</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3">
					<div class="text-list-footer">JUAL PROPERTY</div>
					<div class="br10"></div>
					<ul>
						<li>Verifikasi Property anda</li>
						<li>Bagaimana cara menjual Property</li>
						<li>Mulai menjual</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3">
					<div class="text-list-footer">PELAYANAN PELANGGAN</div>
					<div class="br10"></div>
					<ul>
						<li>
							<%= link_to forum_diskusi_path do %>
								Forum Diskusi
							<% end %>
						</li>
						<li>
							<%= link_to questions_path do %>
								F.A.Q
							<% end %>
						</li>
						<li>
							<%= link_to contact_path do %>
								Kontak Kami
							<% end %>
						</li>
						<li>
							<%= link_to about_us_path do %>
								Tentang Kami
							<% end %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Modal -->
<section>
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header modal-header-login">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title modal-title-2" id="myModalLabel">MASUK</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<a class="btn btn-primary btn-block">
							<i class="fa fa-facebook pull-left"></i>
							Login dengan Facebook
						</a>
					</div>
					<div class="br5"></div>
					<i class="hr-login-modal"></i>
					<span class="txt-or-login">Atau</span>
					<div class="br5"></div>
					<form action="" method="POST" >
						<div class="form-group form-login">
							<label class="label-form-login">Username</label>
							<input type="text" class="form-control" name="username" placeholder="Username">
							<div class="br10"></div>
							<label class="label-form-login">Password</label>
							<input type="text" class="form-control" name="username" placeholder="Password">
							<div class="br10"></div>
							<div class="col-md-12 margin-bottom10 padding0">
								<input name="#" type="hidden" value="0">
								<input class="#" id="user_remember_me" name="#" type="checkbox" value="1">
								<span>Biarkan saya tetap masuk</span>
							</div>
							<div class="col-md-12 margin-bottom10 margin-bottom10 padding0">
								<a href="">Lupa Kata Sandi!</a>
							</div>
							<div class="br10"></div>
							<div class="input-group">
								<label></label>
								<input type="submit" class="btn btn-success">
							</div>
							<div class="col-md-12 margin-top10 padding0">
								Belum punya akun! <a href="#signup" data-dismiss="modal" data-toggle="modal" data-target="#signup">Daftar</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header modal-header-signup">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title modal-title-2" id="myModalLabel">DAFTAR</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<a class="btn btn-primary btn-block">
							<i class="fa fa-facebook pull-left"></i>
							Daftar dengan Facebook
						</a>
					</div>
					<div class="br5"></div>
					<i class="hr-login-modal"></i>
					<span class="txt-or-login">Atau</span>
					<div class="br5"></div>
					<form action="" method="POST" >
						<div class="form-group form-login">
							<label class="label-form-login">Username</label>
							<input type="text" class="form-control" name="username" placeholder="Username" required>
							<div class="br10"></div>
							<label class="label-form-login">Email</label>
							<input type="email" class="form-control" name="username" placeholder="Username" required>
							<div class="br10"></div>
							<label class="label-form-login">Password</label>
							<input type="text" class="form-control" name="username" placeholder="Password" required>
							<div class="br10"></div>
							<label class="label-form-login">Konfirmasi Password</label>
							<input type="text" class="form-control" name="username" placeholder="Password" required>
							<div class="br10"></div>
							<div class="input-group">
								<label></label>
								<input type="submit" class="btn btn-success">
							</div>
							<div class="col-md-12 margin-top10 padding0">
								Belum punya akun! <a href="#login" data-dismiss="modal" data-toggle="modal" data-target="#login">Masuk</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>