<!-- sub top header -->
<section class="sub-top-header padding-top50">
	<div class="container">
		<div class="row">
			<div class="col-md-12"> 
				<h3><span class="fa fa-users"></span> Tentang Kami </h3>
			</div>
		</div>
	</div>
</section>

<section class="content-single-post">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
					<p>
					Sejak didirikan pada Januari 2014, Jualo.com hadir menawarkan cara jual beli online dan layanan iklan baris yang termudah dan tercepat di Indonesia.
					</p>

					<p>
					Pasang iklan di Jualo.com hanya perlu 1 menit. Iklan langsung online! Tidak perlu lagi menunggu persetujuan moderator. Pasang iklan di Jualo.com juga sangat mudah dan gratis! Begitu iklan anda online, anda bisa langsung share ke Facebook, Twitter, Gplus atau Pinterest anda. Pasang iklan cepat, jual lebih cepat! Mau cari barang baru atau barang bekas murah, semuanya ada di Jualo.com.
					</p>

					<p>
					Di Jualo.com, anda bisa memilih beragam cara transaksi. Semuanya tergantung persetujuan antara penjual dan pembeli sendiri. Selain bayar tunai, anda juga bisa saling tukar menukar barang atau barter dengan sesama pengguna dan bersaing dengan cara tawar menawar atau nego langsung dengan penjual. Semuanya tinggal klik saja di halaman iklan.
					</p>

					<p>
					Jualo.com lebih dari sekadar jual beli barang online. Dengan Jualo.com chat box, anda bisa berinteraksi dengan sesama pengguna, berbagi files, dan bahkan mengundang teman Facebook/Gtalk anda untuk bergabung di chat. Anda juga bisa berinteraksi langsung dengan penjual melalui chat box pribadi penjual yang dilengkapi dengan fitur audio & video, minta lihat demo, dan langsung buat penawaran! Masih belum deal juga? Jangan frustrasi dulu, chatting dan main games aja di jualo.com chat box.</p>

					<p>
					Jualo.com tempat jual beli terbaik, tercepat, terlengkap dan terpercaya di Indonesia. Semua barang bagus ada di dekat anda. Cepat pasang iklan gratis dan mulai jual beli sekarang juga di Jualo.com!
					</p>
			</div>
		</div>
	</div>
</section>