<!-- sub top header -->
<section class="sub-top-header padding-top50">
	<div class="container">
		<div class="row">
			<div class="col-md-12"> 
				<h3>Katalog Apartemen dan Perumahan</h3>
			</div>
		</div>
	</div>
</section>

<!-- filter catalog top -->
<section class="filter-catalog-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12		">	
				<div id="bc1" class="btn-group btn-breadcrumb">
				<a href="#" class="btn btn-default"><i class="fa fa-home"></i></a>
				<a href="#" class="btn btn-default"><div>label 1</div></a>
				<a href="#" class="btn btn-default"><div>label 2</div></a>
				<a href="#" class="btn btn-default"><div>label 3</div></a>
			</div>
			<div class="br10"></div>
				<div class="panel panel-default box-filter-catalog-top">
					<form action="#" method="POST">
						<div class="panel-body">
							<div class="search-text-top-catalog">
								<div class="col-md-12">
									<span class="txt-catalog-search-top"><strong>Filter</strong> Pencarian</span>
								</div>
							</div>
							<div class="search-input-top-catalog">
								<div class="col-md-3">
									<label>Tipe Property</label>
									<select name="#" class="form-control chosen-select" tabindex="2">
										<option value="">Tipe Property ...</option>
										<option value="Perumahan">Perumahan</option>
										<option value="Ruko">Ruko</option>
										<option value="Kontrakan">Kontrakan</option>
										<option value="Tanah Kosong">Tanah Kosong</option>
										<option value="Apartemen">Apartemen</option>
									</select>
								</div>
								<div class="col-md-3">
									<label>Kota/Kabupaten</label>
									<select name="#" class="form-control chosen-select" tabindex="2">
										<option value="">Kota/Kabupaten ...</option>
										<option value="Kota Sukabumi">Kota Sukabumi</option>
										<option value="Kabupaten Sukabumi">Kabupaten Sukabumi</option>
									</select>
								</div>
								<div class="col-md-3">
									<label>Kecamatan</label>
									<select name="#"class="form-control chosen-select" tabindex="2">
										<option value="">Kecamatan ...</option>
										<option value="Kecamatan Gunung Puyuh">Kecamatan Gunung Puyuh</option>
										<option value="Kecamatan Lembur Situ">Kecamatan Lembur Situ</option>
										<option value="Kecamatan Warudoyong">Kecamatan Warudoyong</option>
										<option value="Kecamatan Citamiang">Kecamatan Citamiang</option>
										<option value="Kecamatan Baros">Kecamatan Baros</option>
									</select>
								</div>
								<div class="col-md-3">
									<label>Desa</label>
									<select name="#" class="form-control chosen-select" tabindex="2">
										<option value="">Desa ...</option>
										<option value="Desa Babakan">Desa Babakan</option>
										<option value="Desa Ciroyom">Desa Ciroyom</option>
										<option value="Desa Waluran Mandiri">Desa Waluran Mandiri</option>
										<option value="Desa Curug manjur">Desa Curug manjur</option>
									</select>
								</div>
							</div>
							<div class="br10"></div>
							<div class="search-input-top-catalog">
								<div class="col-md-4">
									<label>Jenis Property</label>
									<select name="#" class="form-control chosen-select" tabindex="2">
										<option value="">Jenis Property ...</option>
									</select>
								</div>
								<div class="col-md-4">
									<label>Satuan Unit</label>
									<select name="#"class="form-control chosen-select" tabindex="2">
										<option value="">Satuan Unit ...</option>
									</select>
								</div>
								<div class="col-md-4">
									<label>Luas Bangunan</label>
									<select name="#" class="form-control chosen-select" tabindex="2">
										<option value="">Luas Bangunan ...</option>
									</select>
								</div>
							</div>
							<div class="br10"></div>
							<div class="search-input-top-catalog">
								<div class="col-md-4">
									<label>Luas Tanah</label>
									<select name="#" class="form-control chosen-select" tabindex="2">
										<option value="">Luas Tanah ...</option>
									</select>
								</div>
								<div class="col-md-4">
									<label>Kamar Tidur</label>
									<select name="#"class="form-control chosen-select" tabindex="2">
										<option value="">Kamar Tidur ...</option>
									</select>
								</div>
								<div class="col-md-4">
									<label>Kamar Mandi</label>
									<select name="#" class="form-control chosen-select" tabindex="2">
										<option value="">Kamar Mandi ...</option>
									</select>
								</div>
							</div>
							<div class="br10"></div>
							<div class="search-input-top-catalog">
								<div class="col-md-4">
									<label>Sertifikat</label>
									<select name="#" class="form-control chosen-select" tabindex="2">
										<option value="">Sertifikat ...</option>
									</select>
								</div>
								<div class="col-md-4">
									<label>Kondisi</label>
									<select name="#" class="form-control chosen-select" tabindex="2">
										<option value="">Kondisi ...</option>
										<option value="Sangat Baik">Sangat Baik</option>
										<option value="Baik">Baik</option>
										<option value="Cukup">Cukup</option>
									</select>
								</div>
								<div class="col-md-4">
									<label>Interior</label>
									<select name="#" class="form-control chosen-select" tabindex="2">
										<option value="">Interior ...</option>
									</select>
								</div>
							</div>
							<div class="br10"></div>
							<div class="search-input-top-catalog">
								<div class="col-md-6">
									<label>Harga Minimum</label>
									<select name="#" class="form-control chosen-select" tabindex="2">
										<option value="">Harga Minimum ...</option>
									</select>
								</div>
								<div class="col-md-6">
									<label>Harga Maksimum</label>
									<select name="#" class="form-control chosen-select" tabindex="2">
										<option value="">Harga Maksimum ...</option>
									</select>
								</div>
							</div>
							<div class="br10"></div>
							<div class="search-inputlg-top-catalog">
								<div class="col-md-12">
									<label>&nbsp;</label>
									<input type="text" class="form-control height50" name="" placeholder="Masukan kata pencarian ...">
								</div>
							</div>
							<div class="search-button-btm-catalog">
								<div class="col-md-12">
									<button class="btn btn-green-effect btn-lg">CARI PROPERTY</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- content catalog -->
<section class="content-catalog">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2><span>Catalog Iklan</span> Property Perumahan</h2>
			<div class="br30"></div>
			<div role="tabpanel">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#all" aria-controls="all" role="tab" data-toggle="tab">Semua Terdaftar</a>
					</li>
					<li role="presentation">
						<a href="#new" aria-controls="new" role="tab" data-toggle="tab">Baru</a>
					</li>
					<li role="presentation">
						<a href="#old" aria-controls="old" role="tab" data-toggle="tab">Bekas</a>
					</li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel1" class="tab-pane active" id="all">
						<% (1..10).each do %>
							<a href="#">
								<div class="box-catalog-ads border-shadow-right">
									<div class="col-sm-2">
										<div class="text-clock-left">
											<span class="fa fa-clock-o"></span>
											<div class="br10"></div>
										</div>
										<span>1 Menit yang lalu</span>
									</div>
									<div class="col-md-3">
										<%= image_tag 'berita4.jpg', alt: 'Gambar', class: 'img-thumbnail' %>
									</div>
									<div class="col-md-4">
										<div class="description-catalog-center"> 
											<h4>Perumahan taman anggrek EXPERT</h4>
											<div class="br30"></div>
											<div class="col-sm-6 col-xs-6 padding-left0">
												<span class="fa fa-map-marker"></span> Kota Sukabumi
											</div>
											<div class="col-sm-6 col-xs-6">
												<span class="fa fa-user"></span> Perumahan
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<span class="catalog-price-right"><span class="fa fa-tags"></span>  Rp. 1.000.000.000,-</span>
									</div>
								</div>
							</a>
						<% end %>
					</div>
					<div role="tabpanel1" class="tab-pane" id="new">
						<% (1..10).each do %>
							<a href="#">
								<div class="box-catalog-ads border-shadow-right">
									<div class="col-sm-2">
										<div class="text-clock-left">
											<span class="fa fa-clock-o"></span>
											<div class="br10"></div>
										</div>
										<span>3 Menit yang lalu</span>
									</div>
									<div class="col-md-3">
										<%= image_tag 'berita4.jpg', alt: 'Gambar', class: 'img-thumbnail' %>
									</div>
									<div class="col-md-4">
										<div class="description-catalog-center"> 
											<h4>Perumahan taman anggrek EXPERT</h4>
											<div class="br30"></div>
											<div class="col-sm-6 col-xs-6 padding-left0">
												<span class="fa fa-map-marker"></span> Kota Sukabumi
											</div>
											<div class="col-sm-6 col-xs-6">
												<span class="fa fa-user"></span> Perumahan
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<span class="catalog-price-right"><span class="fa fa-tags"></span>  Rp. 1.000.000.000,-</span>
									</div>
								</div>
							</a>
						<% end %>
					</div>
					<div role="tabpanel1" class="tab-pane" id="old">
						<% (1..10).each do %>
							<a href="#">
								<div class="box-catalog-ads border-shadow-right">
									<div class="col-sm-2">
										<div class="text-clock-left">
											<span class="fa fa-clock-o"></span>
											<div class="br10"></div>
										</div>
										<span>4 Menit yang lalu</span>
									</div>
									<div class="col-md-3">
										<%= image_tag 'berita4.jpg', alt: 'Gambar', class: 'img-thumbnail' %>
									</div>
									<div class="col-md-4">
										<div class="description-catalog-center"> 
											<h4>Perumahan taman anggrek EXPERT</h4>
											<div class="br30"></div>
											<div class="col-sm-6 col-xs-6 padding-left0">
												<span class="fa fa-map-marker"></span> Kota Sukabumi
											</div>
											<div class="col-sm-6 col-xs-6">
												<span class="fa fa-user"></span> Perumahan
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<span class="catalog-price-right"><span class="fa fa-tags"></span>  Rp. 1.000.000.000,-</span>
									</div>
								</div>
							</a>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>