<!-- sub top header -->
<section class="sub-top-header padding-top50">
	<div class="container">
		<div class="row">
			<div class="col-md-12"> 
				<h3>Masuk Anggota Sukabumi property</h3>
			</div>
		</div>
	</div>
</section>

<section class="page-sign-in-up">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						MASUK
					</div>
					<div class="panel-body">
						<div class="form-group">
							<a class="btn btn-primary btn-block">
								<i class="fa fa-facebook pull-left"></i>
								Masuk dengan Facebook
							</a>
						</div>
						<div class="br5"></div>
						<i class="hr-login-modal"></i>
						<span class="txt-or-login">Atau</span>
						<div class="br5"></div>
						<form action="" method="POST" >
							<div class="form-group form-login">
								<label class="label-form-login">Username</label>
								<input type="text" class="form-control" name="username" placeholder="Username">
								<div class="br10"></div>
								<label class="label-form-login">Password</label>
								<input type="text" class="form-control" name="username" placeholder="Password">
								<div class="br10"></div>
								<div class="col-md-12 margin-bottom10 padding0">
									<input name="#" type="hidden" value="0">
									<input class="#" id="user_remember_me" name="#" type="checkbox" value="1">
									<span>Biarkan saya tetap masuk</span>
								</div>
								<div class="col-md-12 margin-bottom10 margin-bottom10 padding0">
									<a href="">Lupa Kata Sandi!</a>
								</div>
								<div class="br10"></div>
								<div class="input-group">
									<label></label>
									<input type="submit" class="btn btn-success">
								</div>
								<div class="col-md-12 margin-top10 padding0">
									Belum punya akun! <a href="#signup" data-dismiss="modal" data-toggle="modal" data-target="#signup">Daftar</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</section>