<!-- sub top header -->
<section class="sub-top-header padding-top50">
	<div class="container">
		<div class="row">
			<div class="col-md-12"> 
				<h3>Daftar member Sukabumi Property</h3>
			</div>
		</div>
	</div>
</section>

<section class="page-sign-in-up">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						DAFTAR
					</div>
					<div class="panel-body">
						<div class="form-group">
							<a class="btn btn-primary btn-block">
								<i class="fa fa-facebook pull-left"></i>
								Daftar dengan Facebook
							</a>
						</div>
						<div class="br5"></div>
						<i class="hr-login-modal"></i>
						<span class="txt-or-login">Atau</span>
						<div class="br5"></div>
						<form action="" method="POST" >
						<div class="form-group form-login">
							<label class="label-form-login">Username</label>
							<input type="text" class="form-control" name="username" placeholder="Username" required>
							<div class="br10"></div>
							<label class="label-form-login">Email</label>
							<input type="email" class="form-control" name="username" placeholder="Username" required>
							<div class="br10"></div>
							<label class="label-form-login">Password</label>
							<input type="text" class="form-control" name="username" placeholder="Password" required>
							<div class="br10"></div>
							<label class="label-form-login">Konfirmasi Password</label>
							<input type="text" class="form-control" name="username" placeholder="Password" required>
							<div class="br10"></div>
							<div class="input-group">
								<label></label>
								<input type="submit" class="btn btn-success">
							</div>
							<div class="col-md-12 margin-top10 padding0">
								Belum punya akun! <a href="#login" data-dismiss="modal" data-toggle="modal" data-target="#login">Masuk</a>
							</div>
						</div>
					</form>
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</section>