<!-- katalog ads -->
<section class="catalog-ads">
	<div class="container">
		<div class="row">
			<div class="row">
				<div class="col-md-12">
					<h3>KATALOG BARANG</h3>
				</div>
				<div class="col-md-6">
					<div class="controls pull-right hidden-xs">

					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="padd-catalog-ads">
					<div class="col-md-3">
						<ul>
							<li>
								<button class="btn btn-default btn-sm">
									<span class="fa fa-home"></span>
								</button> 
								<a href="">Rumah Kontrakan</a>
							</li>
							<li>
								<button class="btn btn-default btn-sm">
									<span class="fa fa-home"></span>
								</button> 
								<a href="">Rumah Kostsan</a>
							</li>
							<li>
								<button class="btn btn-default btn-sm">
									<span class="fa fa-home"></span>
								</button> 
								<a href="">Perumahan</a>
							</li>
							<li>
								<button class="btn btn-default btn-sm">
									<span class="fa fa-home"></span>
								</button> 
								<a href="">Hotel</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3">
						<ul>
							<li>
								<button class="btn btn-default btn-sm">
									<span class="fa fa-home"></span>
								</button> 
								<a href="">Rumah Kontrakan</a>
							</li>
							<li>
								<button class="btn btn-default btn-sm">
									<span class="fa fa-home"></span>
								</button> 
								<a href="">Rumah Kostsan</a>
							</li>
							<li>
								<button class="btn btn-default btn-sm">
									<span class="fa fa-home"></span>
								</button> 
								<a href="">Perumahan</a>
							</li>
							<li>
								<button class="btn btn-default btn-sm">
									<span class="fa fa-home"></span>
								</button> 
								<a href="">Hotel</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3">
						<ul>
							<li>
								<button class="btn btn-default btn-sm">
									<span class="fa fa-home"></span>
								</button> 
								<a href="">Rumah Kontrakan</a>
							</li>
							<li>
								<button class="btn btn-default btn-sm">
									<span class="fa fa-home"></span>
								</button> 
								<a href="">Rumah Kostsan</a>
							</li>
							<li>
								<button class="btn btn-default btn-sm">
									<span class="fa fa-home"></span>
								</button> 
								<a href="">Perumahan</a>
							</li>
							<li>
								<button class="btn btn-default btn-sm">
									<span class="fa fa-home"></span>
								</button> 
								<a href="">Hotel</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3">
						<ul>
							<li>
								<button class="btn btn-default btn-sm">
									<span class="fa fa-home"></span>
								</button> 
								<a href="">Rumah Kontrakan</a>
							</li>
							<li>
								<button class="btn btn-default btn-sm">
									<span class="fa fa-home"></span>
								</button> 
								<a href="">Rumah Kostsan</a>
							</li>
							<li>
								<button class="btn btn-default btn-sm">
									<span class="fa fa-home"></span>
								</button> 
								<a href="">Perumahan</a>
							</li>
							<li>
								<button class="btn btn-default btn-sm">
									<span class="fa fa-home"></span>
								</button> 
								<a href="">Hotel</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>